<div
  class="flex gap-4 mt-40 ml-40 w-[275px] h-[100px] bg-white shadow-md rounded-[20px] cursor-pointer border-2 border-transparent hover:border-[#EF3E33] box-border hover:-translate-y-1 hover:transition-all hover:duration-200"
>
  <div
    class="bg-green-400 w-[122px] h-[83px] rounded-[20px_0px_50px_0px] bg-opacity-50 relative"
  >
    <div
      class="bg-green-400 w-[112px] h-[73px] rounded-[20px_0px_40px_0px] bg-opacity-50"
    >
      <img
        src="assets/bulbasaur.svg"
        alt=""
        srcset=""
        class="absolute -top-5 max-w-24 ml-1"
      />
    </div>
  </div>

  <div class="flex-1 flex items-center justify-center text-center py-2">
    <span>{{ pokemon.id }}</span>
    <span class="font-bold text-[#424242]">{{ pokemon.name }}</span>
  </div>
</div>
