<div
  [ngClass]="{
    'bg-fire': pokemonType === 'fire',
    'bg-water': pokemonType === 'water',
    'bg-dragon': pokemonType === 'dragon',
    'bg-electric': pokemonType === 'electric',
    'bg-fairy': pokemonType === 'fairy',
    'bg-ghost': pokemonType === 'ghost',
    'bg-ice': pokemonType === 'ice',
    'bg-grass': pokemonType === 'grass',
    'bg-bug': pokemonType === 'bug',
    'bg-fighting': pokemonType === 'fighting',
    'bg-normal': pokemonType === 'normal',
    'bg-dark': pokemonType === 'dark',
    'bg-rock': pokemonType === 'rock',
    'bg-psychic': pokemonType === 'psychic',
    'bg-flying': pokemonType === 'flying',
    'bg-poison': pokemonType === 'poison',
    'bg-ground': pokemonType === 'ground',
    'bg-steel': pokemonType === 'steel'
  }"
  class="h-full w-full"
>
  <span class="text-[150px] font-bold text-gray-500">{{ pokemonName }}</span>
  <img [src]="pokemonImg" [alt]="pokemon.name" />
</div>
