<header
  class="border-b-[1px] border-b-gray-200 w-full pb-4 flex items-center justify-between"
>
  <app-search></app-search>
  <img src="assets/pokedex.png" alt="logo" class="max-w-28" />
  <div class="flex items-center justify-center gap-4">
    <div class="relative">
      <img
        class="w-10 h-10 rounded-full border-2 border-solid border-gray-500"
        src="assets/bruno.png"
        alt="Bordered rounded avatar"
      />
      <span
        class="bottom-0 left-7 absolute w-3.5 h-3.5 bg-emerald-500 border-2 border-white rounded-full"
      ></span>
    </div>
    <div class="flex flex-col">
      <span class="text-gray-800 text-sm">Bruno Dias</span>
      <span class="text-gray-400 text-xs">&#64;brunodias.dev</span>
    </div>
  </div>
</header>
