<main class="flex">
  <aside
    class="flex flex-col items-center gap-4 px-4 w-64 h-screen bg-[#FFFFFF] text-[#334D6E] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] rounded-tr-3xl rounded-br-3xl"
  >
    <a href="/">
      <img src="assets/d-pokedex-logo.svg" alt="" class="h-20 w-20" />
    </a>
    <nav class="mt-4">
      <ul>
        <li>
          <a href="#" class="block py-2.5 px-4 rounded">Home</a>
        </li>
        <li class="flex items-center justify-center">
          <img src="assets/icons/fire.svg" alt="" />
          <a href="#" class="block py-2.5 px-4 rounded hover:text-red-600"
            >Fogo</a
          >
        </li>
        <li>
          <a href="#" class="block py-2.5 px-4 rounded hover:text-red-600"
            >Usuários</a
          >
        </li>
        <li>
          <a href="#" class="block py-2.5 px-4 rounded hover:text-red-600"
            >Configurações</a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <div class="flex-1 px-8 py-4">
    <app-header></app-header>
    <router-outlet />
  </div>
</main>
