<!-- <div class="flex flex-col min-h-[calc(100vh+10rem)]">
  <header class="bg-red-200 w-full">header</header>
  <main class="flex-1">
    <router-outlet />
  </main>
  <footer>footer</footer>
</div> -->

<main class="flex">
  <aside
    class="w-64 h-screen bg-[#FFFFFF] text-gray-800 shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] rounded-tr-2xl rounded-br-2xl"
  >
    <div class="flex items-center justify-center h-16">
      <h1 class="text-xl font-semibold">Dashboard</h1>
    </div>
    <nav class="mt-4">
      <ul>
        <li>
          <a href="#" class="block py-2.5 px-4 rounded hover:bg-gray-700"
            >Home</a
          >
        </li>
        <li>
          <a href="#" class="block py-2.5 px-4 rounded hover:bg-gray-700"
            >Relatórios</a
          >
        </li>
        <li>
          <a href="#" class="block py-2.5 px-4 rounded hover:bg-gray-700"
            >Usuários</a
          >
        </li>
        <li>
          <a href="#" class="block py-2.5 px-4 rounded hover:bg-gray-700"
            >Configurações</a
          >
        </li>
      </ul>
    </nav>
  </aside>
  <div class="flex-1">
    <router-outlet />
  </div>
</main>
