@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./config-scss/reset.scss";
@import "./config-scss/variables.scss";
@import "./config-scss/rem-calc.scss";
@import "./config-scss/btn.scss";
@import "./config-scss/animation.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
